@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

/*-------- home section title -------------*/
.section-gradient-title {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #6a79f0, #bf468e);
  -webkit-background-clip: text;

}


/*---------- cursor outline---------- */
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 50;
  pointer-events: none;
}


/* border color animation  */
@keyframes borderGradientForward {
  0% {
    width: 0;
    left: 0;
  }

  100% {
    width: 100%;
    left: 0;
  }
}

@keyframes borderGradientReverse {
  0% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 0;
  }
}

.border-animation {
  position: relative;
}

.border-animation::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #1e3a8a;
  transition: width 0.5s;
}

.group:hover .border-animation::after {
  animation: borderGradientForward 0.5s forwards;
}

.group:not(:hover) .border-animation::after {
  animation: borderGradientReverse 0.5s forwards;
}

/* animated text  */
.container {
  /* height: 150vh; */
  /* to ensure enough space for scrolling */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #000; */
}

.text {
  font-size: 2em;
  color: rgb(255, 255, 255);
  /* color: rgba(255, 255, 255, 0.1); */
  /* initial less colorful state */
  transition: color 0.3s ease;
}




/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */